/* *** mobile.css ~ Holds the layout styling for the mobile site *** */

body {
  margin: 0;
  background-color: #fff;
  display: block !important;
}

header {
  display: block;
  margin: 1em;
}

.header-index {
  height: 11em !important;
}

header, 
nav > section > div span, 
#nav-main_menu > section > div span, 
#nav-section_menu a, 
h2, 
.article-faculty-member, 
.article-faculty-member-page, 
.article-debate-links,
.article-debate, 
.article-debate img:nth-child(4) + a, 
.article-english-links, 
.article-english, 
#footer-row_3 span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

td, 
.article-faculty-member-page span, 
.article-faculty-member-page h7, 
.article-faculty-member-page h6, 
.article-faculty-member-page p, 
.article-faculty-member-page a, 
.article-faculty-member-page ul li, 
.article-debate-links a, 
.article-debate h6, 
.article-debate > span, 
.article-debate p, 
.article-debate ul li, 
.article-debate ol li,
th, 
.article-debate table:nth-child(7) tr:nth-child(1) td, 
.article-debate img:nth-child(4) + a, 
.article-english-links a, 
.article-english h6, 
.article-english > span, 
.article-english ul li {
  font-size: 32px;
}

.article-faculty-member ul li, 
.article-faculty-member p
 {
  font-size: 25px;
}

.article-debate table + span {
  font-size: 24px;
}

.article-english > h4 + h6 + table th, 
.article-english > h4 + h6 + table td {
  font-size: 23px;
}

h2, 
.article-faculty-member, 
.article-faculty-member-page span, 
.article-faculty-member-page h7,
.article-faculty-member-page p, 
.article-faculty-member-page ul li, 
.article-debate h6, 
.article-debate > span, 
.article-debate table + span, 
.article-debate table td, 
.article-debate p, 
.article-debate ul li, 
.article-debate ol li, 
.article-english-links, 
.article-english table td, 
.article-english h6, 
.article-english > span, 
.article-english ul li  {
  font-weight: 400;
}

h2, 
#header-links a, 
nav > section > div span, 
#nav-main_menu > section > div span, 
#nav-section_menu a, 
#footer-row_3, 
.article-faculty-member-page a, 
.article-faculty-member-page h4, 
.article-faculty-member-page span, 
.article-faculty-member-page h7, 
.article-faculty-member-page h6, 
.article-faculty-member-page p, 
.article-debate h4, 
.article-debate h6,
.article-debate > span, 
.article-debate table + span, 
.article-debate img:nth-child(4) + a, 
.article-english h4, 
.article-english h6, 
.article-english > span  {
  text-align: center;
}

h2 {
  margin: 1em 0 0.5em 0;
  font-size: 3em;
}

header img {
  display: block;
  float: left;
}

#header-right {
  display: block;
  float: left;
  margin: 0 0 0 1em;
}

#mobile-search {
  padding: 0.5em 0.5em 0.5em 1.75em;
  background-image: url('/la/assets/img/sprites/main_nav.png');
  background-position: -2100px -10px;
  background-repeat: no-repeat;
  font-size: 2.5em;
  font-weight: 600;
  border: 5px solid #b7b7b7;
  color: #9c9c9c;
}

#header-links a, 
#nav-sub_menu a {
  display: inline-block;
  font-size: 2em;
}

.article-faculty-member-page a {
  width: 281px !important;
  height: 8px !important;
  margin: 1em auto 0 auto;
  padding: 26px !important;
  display: block;
  line-height: 10px !important;
}

#header-links a, 
nav > section > div > a, 
#nav-sub_menu a, 
#nav-main_menu > section > div > a, 
.article-faculty-member-page a, 
.article-debate img:nth-child(4) + a {
  background-color: #d8ccc3;
  box-shadow: 4px 4px 1px #a2a2a2;
  border: 5px solid #485081;
}

#header-links a:active,
nav > section > div > a:active, 
#nav-sub_menu a:active, 
#nav-main_menu > section > div > a:active, 
.article-faculty-member-page a:active, 
.article-debate img:nth-child(4) + a:active {
  background-color: #485081;
  border-color: #e76200;
}

#header-links a:active, 
#nav-menu-links a:active, 
#nav-section_menu a:active, 
.article-debate img:nth-child(4) + a:active {
  color: #fff;
}

.article-faculty-info ul li a:active, 
.article-debate-links a:active, 
.article-english-links a:active {
  color: #e76200;
}

#header-links a, 
nav > section > div span, 
#nav-main_menu > section > div span, 
#nav-section_menu a, 
.article-faculty-member-page a, 
.article-debate img:nth-child(4) + a {
  text-decoration: none;
  text-shadow: 2px 2px 1px #a2a2a2;
  color: #485081;
}

.article-faculty-info ul li a, 
.article-debate-links a, 
.article-english-links a {
  color: #485081;
}

nav {
  width: 97%;
  margin: 4em 1em 1em 1em;
}

#nav-sub_menu {
  width: 98.5%;
  margin: 0;
}

#nav-main_menu {
  margin-top: 3em;
}

nav > section > div, 
#nav-main_menu > section > div {
  width: 13.7em;
  margin: 0 0.57em;
  display: block;
  float: left;
}

nav > section, 
#nav-main_menu > section {
  width: 100%;
  height: 13.25em;
  margin: 3em auto;
}

nav > #nav-row_1 {
  margin-top: 0;
}

#nav-main_menu > section {
  margin-top: 3em;
}

#nav-main_menu a {
  background-position-y: 2px;
}

nav > section > div > a, 
#nav-main_menu > section > div > a {
  margin: 0 auto;
  display: block;
  background-image: url('/la/assets/img/sprites/main_nav.png');
  background-repeat: no-repeat;
}

#nav-main_menu, 
#nav-section_menu {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: none;
}

#link-gpa a {
  background-position-x: 30px;
}

#link-gpa a:active {
  background-position-x: -2760px;
}

#link-english a {
  background-position-x: -102px;
}

#link-camps a {
  background-position-x: -241px;
}

#link-lessons a {
  background-position-x: -373px;
}

#link-lessons a:active {
  background-position-x: -2898px;
}

#link-awards a {
  background-position-x: -503px;
}

#link-debate a {
  background-position-x: -634px;
}

#link-events a {
  background-position-x: -760px;
}

#link-announcements a {
  background-position-x: -888px;
}

#link-apply_students a {
  background-position-x: -1005px;
}

#link-faculty a {
  background-position-x: -1133px;
}

#link-apply_faculty a {
  background-position-x: -1274px;
}

#link-business a {
  background-position-x: -1416px;
}

#link-business a:active {
  background-position-x: -3041px;
}

#link-about_us a {
  background-position-x: -1554px;
}

#link-contact_us a {
  background-position-x: -1674px;
}

#link-location a {
  background-position-x: -1808px;
}

#link-media a {
  background-position-x: -1940px;
}

nav > section > div span, 
#nav-main_menu > section > div span {
  margin-top: 0.5em;
  display: block;
  font-size: 1.8em;
}

footer {
  width: 100%;
  margin-top: 3.5em;
  background-color: #e4dfdb;
}

footer > #footer-border {
  height: 2.5em;
  background-color: #d8ccc3;
}

#footer-row_1, 
#footer-row_2 {
  width: 92%;
  height: 100px;
  margin: 2.5em 0;
  padding: 0 2.5em;
  display: block;
}

#footer-row_1 a, 
#footer-row_2 a {
  width: 100px;
  height: 100px;
  margin: 0 4.4% 0 4.4%;
  display: block;
  float: left;
  background-image: url('/la/assets/img/sprites/social_media.png');
  background-repeat: no-repeat;
}

#link-facebook {
  background-position-x: -100px;
}

#link-twitter {
  background-position-x: -200px;
}

#link-you_tube {
  background-position-x: -300px;
}

#link-kakao {
  background-position-x: -400px;
}

#link-instagram {
  background-position-x: -500px;
}

#link-wechat {
  background-position-x: -600px;
}

#link-google {
  background-position-x: -700px;
}

#link-line {
  background-position-x: -800px;
}

#link-whatsapp {
  background-position-x: -900px;
}

#footer-row_3 {
  margin-top: 2.5em;  
}

#footer-row_3 span {
  height: 2em;
  display: block;
  font-size: 2em;
  color: #7f7c7a;
}

article {
  width: 100%;
}

/* PAGE: History */
#article-content {
  width: 100%;
}

#article-content img {
  margin: 0 auto;
  display: block;
}

/* PAGE: Faculty */
.article-faculty-row {
  width: 100%;
  margin: 0 auto 2em auto;  
}

#article-faculty-row_1, 
#article-faculty-row_5  {
  height: 23em;
}

#article-faculty-row_2 {
  height: 25em;
}

#article-faculty-row_3, 
#article-faculty-row_4  {
  height: 26em;
}

#article-faculty-row_6, 
#article-faculty-row_7, 
#article-faculty-row_8  {
  height: 22em;
}

.article-faculty-member {
  width: 44.6%;
  margin: 0 1em;
  padding: 0.5em;
  float: left;
  border: 2px solid #cec2b4;
  border-radius: 15px;
}

.article-faculty-member img {
  width: 7em;
  height: 10em;
  /* margin: 0 2.25em !important; */
  display: block !important;
  float: left !important;
}

.article-faculty-info {
  width: 73%;
  float: left;
}

.article-faculty-member ul {
  margin: 0;
  padding: 0 0 0 2em;
}

.article-faculty-member ul li {
  margin: 0.25em !important;
}

.article-faculty-member p {
  width: 90%;
  margin: 10px 10px 10px 35px;
}

.article-faculty-member-page {
  width: 97% !important;
  padding: 1em;
}

.article-faculty-member-page h4, 
.article-debate h4, 
.article-english h4  {
  margin-bottom: 0.25em;
  font-size: 42px;
}

.article-debate h4, 
.article-english h4 {
  margin: 1em 0;
}

.article-faculty-member-page span {
  width: 10em;
  margin: 0 auto;
  display: block;
}

.article-faculty-member-page h7 {
  margin: 1em auto;
  display: block;
}

.article-faculty-member-page h6 {
  margin: 1.5em 0;
}

.article-faculty-member-page h6:nth-child(1) {
  margin-top: 1em;
}

.article-faculty-member-page ul {
  padding-left: 55px;
}

/* PAGE: Location */
table {
  width: 100%;
  margin-top: 2em;
  border: 2px solid #cec2b4;
  font-family: Arial, Helvetica, sans-serif;
}

td {
  border-bottom: 2px dashed #cec2b4;
  padding: 0.5em;
}

table > tbody > tr:last-of-type td {
  border-bottom: none;
}

tr > td:nth-child(1)  {
  width: 6.5em;
  background-color: #d5ccb2;
  vertical-align: top;
  color: #573214;
}

tr > td:nth-child(2)  {
  color: #4f4f4f;
}

h4 {
  margin: 0;
}

li {
  margin: 0.5em 0;
}

article > table + table > tbody > tr:nth-child(2) > td:nth-child(2),
article > table + table > tbody > tr:nth-child(3) > td:nth-child(2), 
article > table + table > tbody > tr:nth-child(4) > td:nth-child(2), 
.article-faculty-member-page, 
.article-debate, 
.article-english {
  width: 75%;
  height: auto;
  min-height: 1px;
  max-height: 999999px;
}

#article-header {
  width: 100%;
}


/* PAGE: Debate */

.article-header-debate, 
.article-debate-links, 
.article-english-links {
  width: 680px !important;
  margin: 0 auto;
}

.article-debate-links a, 
.article-english-links a {
  width: 17em;
  margin: 1em auto;
  display: block;
}

.article-debate-links a:nth-child(1), 
.article-english-links a:nth-child(1) {
  margin-top: 0;
}

.article-debate h6, 
.article-english h6 {
  margin: 0.75em 0;
}

.article-debate > span, 
.article-debate table + span, 
.article-english > span {
  display: block;
}

.article-debate table, 
.article-english table {
  width: 960px !important;
  margin: 2em auto;
}

th, 
.article-debate table:nth-child(7) tr:nth-child(1) td { 
  width: 5em;
  background-color: #d5ccb2;
  color: #573214;
}

.article-debate table td, 
.article-debate table:nth-child(7) tr:nth-child(1) td:nth-child(1), 
.article-english table td {
  width: auto;
  background-color: transparent;
  border: 2px dashed #cec2b4;
  vertical-align: middle;
  color: #4f4f4f;
}

.article-debate p {
  margin: 1em 1.5em;
}

.article-debate ul, 
.article-english ul {
  margin: 1em 1em 1em 4.5em;
}

.article-debate ol {
  margin: 1em 1em 1em 5.5em;
}

.article-debate img:nth-child(4) + a {
  display: block;
  margin-top: 2em !important;
}


/* PAGE: English */ 

.article-english table th, 
.article-english table td {
  padding: 0.25em;
}

.article-english ul {
  width: 80%;
}

@media screen and (min-width: 310px) and (max-width: 1000px) {
  header {
    width: 97%;
    height: 16em;
  }

  #header-right, 
  #header-search {
    width: 43.5em;
  }

  #mobile-search {
    width: 17.5em;
  }

  #header-links, 
  #header-links-level_2 {
    margin-top: 0.5em;
  }

  #header-links a,  
  #nav-section_menu a, 
  .article-faculty-member-page a, 
  .article-debate img:nth-child(4) + a {
    width: 8.79em;
    height: 0.25em;
    padding: 0.8em;
    line-height: 0.25em;
  }

  #nav-section_menu a, 
  .article-debate img:nth-child(4) + a {
    width: 11em;
    margin: 1em auto;
    display: block;
  }
  
  #link-login, 
  #link-main_menu {
    margin-right: 0.2em;
  }

  nav > section > div > a {
    width: 9.5em;
    height: 9.5em;
  }

  #nav-main_menu > section > div > a {
    width: 4.8em;
    height: 4.8em;
  }
}