/* *** mobile.css ~ Holds the layout styling for the mobile site *** */

body {
  margin: 0;
  background-color: #fff;
  display: block !important;
}

header {
  display: block;
  margin: 1em;
}

header, 
nav > section > div span, 
#nav-main_menu > section > div span, 
#nav-section_menu a, 
h2, 
#footer-row_3 span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h2 {
  margin: 1em 0 0.5em 0;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
}

header img {
  display: block;
  float: left;
}

#header-right {
  display: block;
  float: left;
  margin: 0 0 0 1em;
}

#mobile-search {
  padding: 0.5em 0.5em 0.5em 1.75em;
  background-image: url('/la/assets/img/sprites/main_nav.png');
  background-position: -2100px -10px;
  background-repeat: no-repeat;
  font-size: 2.5em;
  font-weight: 600;
  border: 5px solid #b7b7b7;
  color: #9c9c9c;
}

#header-links a, 
#nav-sub_menu a {
  display: inline-block;
  font-size: 2em;
}

#header-links a, 
nav > section > div > a, 
#nav-sub_menu a, 
#nav-main_menu > section > div > a {
  background-color: #d8ccc3;
  box-shadow: 4px 4px 1px #a2a2a2;
  border: 5px solid #485081;
}

#header-links a:active,
nav > section > div > a:active, 
#nav-sub_menu a:active, 
#nav-main_menu > section > div > a:active {
  background-color: #485081;
  border-color: #e76200;
}

#header-links a:active, 
#nav-menu-links a:active, 
#nav-section_menu a:active {
  color: #fff;
}

#header-links a, 
nav > section > div span, 
#nav-main_menu > section > div span, 
#nav-section_menu a {
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 1px #a2a2a2;
  color: #485081;
}

nav {
  width: 59em;
  margin: 1em;
}

#nav-sub_menu {
  width: 48em;
}

nav > section, 
#nav-main_menu > section {
  margin-top: 3em;
}

nav > section > div, 
#nav-main_menu > section > div {
  width: 13.8em;
  display: inline-block;
  margin: 0 0.25em;
  vertical-align: top;
}

nav > section > div > a, 
#nav-main_menu > section > div > a {
  margin: 0 auto;
  display: block;
  background-image: url('/la/assets/img/sprites/main_nav.png');
  background-repeat: no-repeat;
}

#nav-main_menu, 
#nav-section_menu {
  width: 59em;
  display: none;
}

#link-gpa a {
  background-position-x: 32px;
}

#link-gpa a:active {
  background-position-x: -2760px;
}

#link-english a {
  background-position-x: -105px;
}

#link-camps a {
  background-position-x: -242px;
}

#link-lessons a {
  background-position-x: -374px;
}

#link-lessons a:active {
  background-position-x: -2899px;
}

#link-awards a {
  background-position-x: -503px;
}

#link-debate a {
  background-position-x: -634px;
}

#link-events a {
  background-position-x: -760px;
}

#link-announcements a {
  background-position-x: -888px;
}

#link-apply_students a {
  background-position-x: -1005px;
}

#link-faculty a {
  background-position-x: -1130px;
}

#link-apply_faculty a {
  background-position-x: -1272px;
}

#link-business a {
  background-position-x: -1416px;
}

#link-business a:active {
  background-position-x: -3041px;
}

#link-about_us a {
  background-position-x: -1554px;
}

#link-contact_us a {
  background-position-x: -1674px;
}

#link-location a {
  background-position-x: -1808px;
}

#link-media a {
  background-position-x: -1940px;
}

nav > section > div span, 
#nav-main_menu > section > div span {
  margin-top: 0.5em;
  display: block;
  font-size: 1.8em;
}

footer {
  margin-top: 3.5em;
  background-color: #e4dfdb;
}

footer > #footer-border {
  height: 2.5em;
  background-color: #d8ccc3;
}

#footer-row_1 a, 
#footer-row_2 a {
  width: 6.25em;
  height: 6.25em;
  margin: 2.5em 2.7em 0;
  display: inline-block;
  background-image: url('/la/assets/img/sprites/social_media.png');
  background-repeat: no-repeat;
}

#link-facebook {
  background-position-x: -100px;
}

#link-twitter {
  background-position-x: -200px;
}

#link-you_tube {
  background-position-x: -300px;
}

#link-kakao {
  background-position-x: -400px;
}

#link-instagram {
  background-position-x: -500px;
}

#link-wechat {
  background-position-x: -600px;
}

#link-google {
  background-position-x: -700px;
}

#link-line {
  background-position-x: -800px;
}

#link-whatsapp {
  background-position-x: -900px;
}

#footer-row_3 {
  margin-top: 2.5em;
  text-align: center;    
}

#footer-row_3 span {
  height: 2em;
  display: block;
  font-size: 2em;
  color: #7f7c7a;
}

/* SECTION: History - PAGE: History */
#article-content {
  width: 100%;
}

#article-content img {
  margin: 0 auto;
  display: block;
}

/* SECTION: Guide - PAGE: Location */
table {
  width: 100%;
  margin-top: 2em;
  border: 2px solid #cec2b4;
  font-family: Arial, Helvetica, sans-serif;
}

td {
  border-bottom: 2px dashed #cec2b4;
  padding: 0.5em;
  font-size: 32px;
}

table > tbody > tr:last-of-type td {
  border-bottom: none;
}

tr > td:nth-child(1)  {
  width: 6.5em;
  background-color: #d5ccb2;
  vertical-align: top;
  color: #573214;
}

tr > td:nth-child(2)  {
  color: #4f4f4f;
}

h4 {
  margin: 0;
}

li {
  margin: 0.5em 0;
}

article > table + table > tbody > tr:nth-child(2) > td:nth-child(2),
article > table + table > tbody > tr:nth-child(3) > td:nth-child(2), 
article > table + table > tbody > tr:nth-child(4) > td:nth-child(2) {
  width: 75%;
  height: auto;
  min-height: 1px;
  max-height: 999999px;
}

#article-header {
  width: 100%;
}

@media screen and (min-width: 310px) and (max-width: 1000px) {
  header {
    width: 59em;
    height: 16em;
  }

  #header-right, 
  #header-search {
    width: 42.75em;
  }

  #mobile-search {
    width: 17em;
  }

  #header-links, 
  #header-links-level_2 {
    margin-top: 0.5em;
  }

  #header-links a,  
  #nav-section_menu a {
    width: 8.5em;
    height: 0.25em;
    padding: 0.8em;
    line-height: 0.25em;
  }

  #nav-section_menu a {
    width: 11em;
    margin: 1em auto;
    display: block;
  }
  
  #link-login, 
  #link-main_menu {
    margin-right: 0.3em;
  }

  nav > section > div > a {
    width: 9.5em;
    height: 9.5em;
  }

  #nav-main_menu > section > div > a {
    width: 4.5em;
    height: 4.5em;
  }
}